<h1 class="center">Messages</h1>

<% length = @messages.length %>
<% @messages.each do |message| %>
  <h4 class="center"><%=message.content %></h4>
<% end %>

<div id="messageContainer" class="center">
  <form method="post" action="/save">
    <input id="message" name="message" type="text">
    <input id="submitEmail" value="<%= @email %>" name="email" type="text">
    <button id="messageSubmit" type="submit">Submit</button>
</div>
