<h1 id="header" class="center hidden"></h1>
<div id="signUpContainer" class="center hidden">
  <form action="/main" method="post">
  <p>Enter email here</p>
  <input type="text" id="email" name="email">
  <p>Enter password here</p>
  <input type="text" id="password" name="password">
  <p>Enter name here</p>
  <input type="text" id="name" name="name">
  <button id="login" type="submit">Login</button>
  </form>
</div>
<div id="loginContainer" class="center hidden">
  <form action="/signedup" method="get">
    <p>Enter email here</p>
    <input type="text" id="email" name="email">
    <p>Enter password here</p>
    <input type="text" id="password" name="password">
    <button type="submit">Submit that shit!</button>
  </form>
</div>
<div id="chooseContainer">
  <button id="chooseLogin" class="choose">Login</button><button id="chooseSignUp" class="choose">Sign up</button>
</div>
