<h1 id="message" class="center"><%=@message%></h1>
<div id="signUpContainer" class="center hidden">
  <h1>Signup</h1>
  <form action="/signedup_again" method="get">
  <p>Enter email here</p>
  <input type="text" id="email" name="email">
  <p>Enter password here</p>
  <input type="text" id="password" name="password">
  <p>Enter name here</p>
  <input type="text" id="name" name="name">
  <div><button id="signup" type="submit">Login</button></div>
  </form>
</div>
<div id="loginContainer" class="center <%=@og %>">
  <h1>Login</h1>
  <form action="/signedup" method="get">
    <p>Enter email here</p>
    <input type="text" id="email" name="email">
    <p>Enter password here</p>
    <input type="text" id="password" name="password">
    <div><button id="login" type="submit">Submit</button></div>
  </form>
</div>
<div id="chooseContainer" class="<%=@hidden %>">
  <button id="chooseLogin" class="choose">Login</button><button id="chooseSignUp" class="choose">Sign up</button>
</div>
