<h1 class="center">Time to log in sucka</h1>
<div id="loginContainer" class="center">
  <form action="/main" method="post">
  <p>Enter email here</p>
  <input type="text" id="email" name="email">
  <p>Enter password here</p>
  <input type="text" id="password" name="password">
  <p>Enter name here</p>
  <input type="text" id="name" name="name">
  <button id="login" type="submit">Login</button>
  </form>
</div>
