body{
  background-color: gray;
}
.messageDetails{
  font-size: 12px;
}
h1{
  color:red;
  text-align: center;
}

#submitEmail{
  display: none;
}

.hidden{
  display: none;
}
.center{
  text-align: center;
}
.choose{
  height: 300px;
  width: 300px;
}
#chooseContainer{
  text-align: center;
}
#chooseLogin{
  background-color: red;
  color: white;
}
#chooseSignUp{
  background-color: blue;
  color: white;
}
.blue{
  color : blue;
}
.green{
  color:green;
}
.inline{
  display: inline;
}
#password{
  margin-bottom: 15px;
}

#loginContainer{
  margin-top: 15%;
  background-color: white;
  width: 15%;
  position: absolute;
  left: 42.5%; /* left = .5(100% - width%)*/
}
#signUpContainer{
  margin-top: 15%;
  background-color: white;
  width: 15%;
  position: absolute;
  left: 42.5%; /* left = .5(100% - width%)*/
}
#chooseContainer{
  margin-top: 15%;
}
.noBorder{
  border: 0;
}
#login{
  margin-bottom: 10px;
}
#name{
  margin-bottom: 10px;
}
#signup{
  margin-bottom: 10px;
}
#index{
  background-color: gray;
  margin: 0;
}
#indexContainer{
  width: 50%;
  height: 100%;
  position: absolute;
  left : 25%; /* left = .5(100% - width%)*/
  background-color: white;
}
